<a href="https://colab.research.google.com/github/vnapasupathi/aiml/blob/main/codingChallengeAVidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
url = "https://raw.githubusercontent.com/vnapasupathi/aiml/main/CChallenge_data_stat.csv?token=AQLQTYHE653YXF4H62URCOC76H6BI"
df = pd.read_csv(url)

In [8]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [9]:
df["Item_Weight"].mean()

12.857645184136183

In [10]:
df["Item_MRP"].median()

143.0128

In [14]:
df["Item_Outlet_Sales"].max() - df["Item_Outlet_Sales"].min()

13053.674799999999

In [16]:
df["Item_MRP"].corr(df["Item_Outlet_Sales"])

0.5675744466569194

In [19]:
df["Item_Visibility"].corr(df["Item_Outlet_Sales"])

-0.12862461222077032

In [20]:
df["Item_MRP"].corr(df["Item_Weight"])

0.027141153883330563

In [21]:
df["Item_Weight"].corr(df["Item_Outlet_Sales"])

0.014122739280056456

In [22]:
df["Outlet_Establishment_Year"].corr(df["Item_Outlet_Sales"])

-0.04913497044082089

In [23]:
df["Item_Weight"].var()

21.56168825983637